<%- include('partials/header', { title: 'perfil' }) %>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

    <main>
        <h2>Informações do perfil</h2>

        <ul>
            <li><strong>Nome:</strong> <%= dados.nome || dados.nome_completo %></li>
            <li><strong>Email:</strong> <%= dados.email %></li>

            <% if (dados.especialidade) { %>
                <li><strong>Especialidade:</strong> <%= dados.especialidade %></li>
            <% } %>

            <% if (dados.outra_especialidade) { %>
                <li><strong>Outra Especialidade:</strong> <%= dados.outra_especialidade %></li>
            <% } %>

            <% if (dados.registro_profissional) { %>
                <li><strong>Registro Profissional (CRM):</strong> <%= dados.registro_profissional %></li>
            <% } %>
        </ul>
    </main>

</body>
</html>



<%- include('partials/footer') %>
